* {   
  max-width: 1024px;
  margin: 0 auto;
}

html {
  background-color: #E5E8E8
}

body {
  font-family: "Helvetica", "Arial", sans-serif;
  border: 0.1px solid #E5E8E8;
  background-color: white; 
}

/* main */

.main {
  display: flex;
  justify-content: center;
  margin: 50px;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
}

/* section-left */

.article-left {
  width: 33%;
}

.foto {
  margin: 40px 0px 40px 0px;
}

aside {
  margin-bottom: 30px;
  border-top: 2px solid grey;
}

h2 {
  margin: 30px 0px 30px 0px;
  font-family: 'Merriweather', serif;
  text-transform: uppercase;
  color: grey;
}

p,
li {
  font-family: 'Courgette', cursive;
  line-height: 25px;
  color: grey;
  font-size: 18px;
}


/* section-right */

.article-right {
  width: 60%;
}

.header h1 {
  margin: 30px 0px 0px 0px;
  font-family: 'Courgette', cursive;
  font-size: 80px;
  color: grey;
  font-weight: 100;
  text-align: center;
}

.header h2 {
  margin-top: 1px;
  font-size: 22px;
  text-align: center;
}

a {
  color: grey;
}

a:hover {
color: #424949;
text-decoration: none;
}